<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.onequeuehistory">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".OhDobfunction.OhDobTest"></activity>
        <activity android:name=".MyPageFunction.MyWeaknessTest" />
        <activity android:name=".TestFunction.TestResult" />
        <activity android:name=".TestFunction.StudyTest" android:noHistory="true" />
        <activity android:name=".TestFunction.StudyLSTMTest" />
        <activity android:name=".MyPageFunction.MyWeaknessMain" />
        <activity android:name=".UserFunction.EditInfo" />
        <activity android:name=".UserFunction.UnRegister" />
        <activity android:name=".OhDobfunction.OhDobMain" />
        <activity android:name=".MyPageFunction.MyPageActivity" />
        <activity android:name=".TestFunction.SelectTestNum" />
        <activity android:name=".TestFunction.SelectTestType" />
        <activity android:name=".UserFunction.SignIn" />
        <activity android:name=".UserFunction.LogIn" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>